.tamanhoIMG{
    height: 50px;
    width: 100%;
    object-fit: contain;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.selecioneImg{
    height: 500px;
    background: antiquewhite;
}